.dialog{
        width: 50%;
            background: lightgrey;
            display: flex;
            flex-direction: column;
            margin: auto;
            position: absolute;
            top: 40%;
            left: 25%;
            height: 70%;
            border-radius: 10px;
            border: 1px darkgrey solid;
}

.top{
        height: 10%;
            background: whitesmoke;
}

.icon{
        position: relative;
            height: 100%;
            width: 8%;
            background: white;
            border-radius: 50%;
            left: 92%;
}

.icon > svg{
    width: 100%;
    height: 100%;
}

.main{
    padding: 5%;
        height: 80%;
}

.comments{
        display: flex;
            flex-direction: column;
            height: 100%;
            overflow-y: scroll;
}

.comment-box{
        display: flex;
            flex-direction: row;
            background: white;
            height: max-content;
            margin: 5px 15px 5px 0;
            padding: 5px;
            border-radius: 5px;
}

.name-com{
    text-align: left;
    width: 90%;
}

.like{
    width: 10%;
}

.like > svg{
    margin: auto;
    height: 1.5rem;
    width: 1.5rem;
}

.userName{
    margin: 0 0 10px 0;
    font-weight: bold
}

.comment{
    margin-top: 0;
    width: 100%;
}

.postComment > input{
        width: 80%;
            height: 1.5rem;
            border-radius: 5px;
            border: none;
            box-shadow: 2px 2px grey;
}

.sub-comment{
        height: 1.5rem;
            border-radius: 50%;
            border: none;
            background: white;
            position: relative;
            right: 5%;
}